.card-pokemon {
    border: 1px solid;
    width: 234px;
    min-height: 197px;
    height: 100%;
    background-color: rgb(56, 53, 53);
    padding: 16px;
}

.card-pokemon-name, .card-pokemon-abilities {
    color: white;
    text-transform: capitalize;
}
