.header-main {
  background-color: #aab7b7;
  width: 100%;
  position: fixed;
  height: 70px;
  line-height: 70px;
}
.header-main .logo {
  text-align: center;
  color: black;
  font-size: 32px;
  text-transform: uppercase;
  cursor: pointer;
}
