.App {
  text-align: center;
}

.pagination {
  margin: 20px;
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  max-width: 75%;
}
.input-search {
  display: flex;
  width: 100%;
  padding: 5px 13px;
  border-radius: 7px;
  font-size: 14px;
  font-weight: 400;
}